service: tag-bot
provider:
  name: aws
  runtime: go1.x
  environment:
    GITHUB_APP_ID: ${env:GITHUB_APP_ID}
    GITHUB_PEM_FILE: ${env:GITHUB_PEM_FILE}
    GITHUB_WEBHOOK_SECRET: ${env:GITHUB_WEBHOOK_SECRET}
    GITHUB_CONTACT_USER: ${env:GITHUB_CONTACT_USER}
    REGISTRATOR_USERNAME: ${env:REGISTRATOR_USERNAME}
    REGISTRY_BRANCH: ${env:REGISTRY_BRANCH}
    GIT_TAGGER_NAME: ${env:GIT_TAGGER_NAME}
    GIT_TAGGER_EMAIL: ${env:GIT_TAGGER_EMAIL}
package:
  exclude: [./**]
  include: [./bin/**]
functions:
  github:
    handler: bin/github
    layers:
      - arn:aws:lambda:us-east-1:553035198032:layer:git:5
    events:
      - http:
          path: /webhook/github
          method: post
