name: Publish Releases
on:
  workflow_dispatch:
    inputs:
      bump:
        type: choice
        required: true
        description: What kind of bump
        options:
        - patch
        - minor
        - major
  pull_request:
    types:
      - closed
permissions:
  contents: write
  pull-requests: write
jobs:
  publish:
    runs-on: ubuntu-slim
    if: github.event_name == 'workflow_dispatch' || (startsWith(github.event.pull_request.head.ref, 'release/') && github.event.pull_request.merged)
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - run: pip install PyGithub semver
      - run: make publish
        env:
          DOCKER_IMAGE: ghcr.io/juliaregistries/tagbot
          DOCKER_USERNAME: christopher-dG
          DOCKER_PASSWORD: ${{ secrets.GHCR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SSH_KEY: ${{ secrets.SSH_KEY }}
