name: Publish Docker Image
on:
  release:
    types: published
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - run: $GITHUB_WORKSPACE/bin/publish.py
        env:
          DOCKER_IMAGE: tagbot
          DOCKER_USERNAME: degraafc
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
