name: TagBot
on:
  issue_comment:
    types:
      - created
  workflow_dispatch:
    inputs:
      lookback:
        default: "3"
jobs:
  TagBot:
    if: github.event_name == 'workflow_dispatch' || github.actor == 'JuliaTagBot'
    runs-on: ubuntu-latest
    steps:
      - uses: JuliaRegistries/TagBot@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # Edit the following line to reflect the actual name of the GitHub Secret containing your private key
          # NOTE: if you don't provide a valid ssh key, any attempts to tag commits where github actions workflows
          # were changed will fail due to GITHUB_TOKEN alone not having sufficient permissions.
          ssh: ${{ secrets.DOCUMENTER_KEY }}
