name: Run Tests
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - run: pip install -r requirements.txt -r requirements.dev.txt
      - run: $GITHUB_WORKSPACE/bin/test.sh
